<div class="container" id="game-container">
    <div class="row">
        <div id="myCanvas" class="col-sm-8"></div>
        <div class="game">
            <div class="game-round col-sm-3">
                <div class="panel panel-default player1">
                    <div class="panel-heading">Opposite-username</div>
                    <div class="panel-body opposite-taken-figures">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default player2">
                    <div class="panel-heading">{{user.username}}</div>
                    <div class="panel-body my-taken-figures">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>