<div class="container" id="game-container">
    <div class="row">
        <div id="canvas-container">
            <div id="myCanvas" class="col-sm-8"></div>
        </div>

        <div class="game">
            <div class="game-round col-sm-3">
                <div class="panel panel-default player1">
                    <div class="panel-heading">Opposite-username</div>
                    <div class="panel-body" id="opposite-taken-figures">

                    </div>
                </div>

                <div class="panel panel-default player2">
                    <div class="panel-heading">{{user.name}}</div>
                    <div class="panel-body" id="my-taken-figures">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>