$text-color: #9d9d9d;
$text-color-modal: #555555;

body{
  background: url(../images/background.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  *{
    font-family: 'Playfair Display', serif;
    color: #fff;
  }
}

#shadow{
  opacity:0.5;
  background-color:#000;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.modal-content *{
  color: $text-color-modal;
}

#container{
  margin: 0 auto;
  top: 150px;
  text-align: center;
  position: relative;
  z-index: 1000;
}

#logo-container{
  position: relative;
  z-index: 1000;
}

#logo img{
  width: 35px;
  height: 35px;
}

.warning{
  color: #f00;
  font-size: 0.7em;
}

.modal-footer a{
  float:left;
}

.navbar-default{
  width: 100%;
  background: #000;
  border-color: #000;
  margin: 0;
  #logo-container,
  #notifications{
    display: inline;
  }
}

#notifications button{
  background-color: #000;
  border-color: #000;
  .badge{
    color:  $text-color
  }
}

a,
#notifications-button span{
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover{
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}

.profile{
  height: 100%;
  background: url('../images/wood_texture_final.png')  no-repeat center center fixed;
}


a#logout{
  margin-top: 6px;
  line-height: 3px;
}

#simple-dropdown{
  line-height: 45px;
}

#notifications-menu {
  left: -77px;
  background-color: #2e2e2e;
  li{
    color: #fff;
  }
}

#profile-image img{
  widht: 300px;
  height: 200px;
  margin: 15px;
  position: relative;
}

#edit{
  position: absolute;
  z-index: 1000;
  left: 27px;
  label, input{
    left: 27px;
  }
}

select{
  color: $text-color;
  option{
    color: $text-color-modal;
  }
}

#searchActiveUsers{
  display: inline;
}

#active-users{
  margin-top: 30px;
}

table{
  margin-top: 70px;
}

.pagination{
  margin: 0 auto;
}

.game-round{
  display: inline;
}

#myCanvas{
  display: inline !important;
  margin: 15px;
  z-index: 2000;
}

#my-taken-figures,
#opposite-taken-figures{
  font-size: 1.5em;
  color: $text-color;
}

#search,
#searchActiveUsers,
#create-game{
  left: -15px;
}

#create{
  margin-top: 10px;
}

#profile-image,
#user-information{
  float:left
}

.notifications-list{
  margin: 2px;
  line-height: 2;
  button{
    float:right;
    height: 29px;
  }
}