<div class="container profile col-sm-12" >
    <div class="row">
        <div class="col-md-4" id="profile-image">
            <img ng-src="{{image}}"/>
            <span id="edit"><a href="" ng-click="isCollapsed = !isCollapsed">Edit</a> </span>
            <div uib-collapse="isCollapsed">
                <input type="file" name="image" ng-model="image"/>
                <button class="btn btn-default" ng-click="saveImage(image)">Submit</button>
            </div>
        </div>
        <div class="col-md-7" id="user-information">
            <h2>Welcome, {{user.name}}!</h2>
            <p class="scores">Score: {{user.points}}</p>
            <p class="played-games">Number of played games: {{user.status}}</p>
            <p class="rating">Rating:
                <uib-rating ng-model="rate" max="10" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                <span class="label-info" ng-show="true">{{user.rating}} points/played games</span>
            </p>
        </div>
    </div>
    <div id="active-users" class="clearfix col-md-12">
        <h3 id="acive-users-list">Active Users List:</h3>
        <label class="col-sm-2 label-control" id="search">Search:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control col-lg-4" id="searchActiveUsers" ng-model="query"/>
        </div>
        <div id="create">
            <label class="col-sm-2 label-control" id="create-game">Create game:</label>
            <button  class="btn btn-default" ng-click="addRow()" id="button-create">Create</button>
        </div>

        <table class="table">
            <tr>
                <th>№</th>
                <th>GameID</th>
                <th>Player</th>
                <th>Challenge</th>
            </tr>
            <tr ng-repeat="x in activeGames | filter:query | orderBy:orderProp">
                <td>{{$index + 1}}</td>
                <td>{{x.id}}</td>
                <td>{{x.player_one.name ||x.player_two.name }}</td>
                <td>
                    <button class="btn btn-default" ng-click="enterGame(x.id)" id="{{x.id}}">Enter in game</button>
                </td>
            </tr>
        </table>
        <uib-pagination total-items="activeGamesLength" ng-model="bigCurrentPage" max-size="maxSize" id="active-users-pagination"
                        class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination>
    </div>
</div>