<div class="container" >
    <div class="row">
        <div class="pull-left col-md-6" id="profile-image">
            <img ng-src="{{user.image}}"/>
            <span><a href="" ng-click="edit()">Edit</a> </span>
            <div ng-show="forEdit">
                <input type="file" name="image" ng-model="image"/>
                <button class="btn btn-default" ng-click="saveImage(image)"></button>
            </div>
        </div>
        <div class="pull-right col-md-6" id="user-information">
            <h2>Welcome, {{user.username}}!</h2>
            <p class="scores">Score: {{user.score}}</p>
        </div>
    </div>
    <div id="active-users col-md-12">
        <h3 id="acive-users-list">Active Users List:</h3>
        <span>Search:</span>
        <input type="text" ng-model="query"/>
        <table>
            <tr>
                <td>№</td>
                <td>Username</td>
                <td>Score</td>
                <td>Challenge</td>
            </tr>
            <tr ng-repeat="x in users | filter:query">
                <td>{{$index + 1}}</td>
                <td>{{users.name}}</td>
                <td>{{users.score}}</td>
                <td>
                    <button class="btn btn-default" ng-click="challenge()"></button>
                </td>
            </tr>
        </table>
    </div>
</div>